$white: #fff;
$black: #262626;
$dark-green: #238C6E;

@mixin section-style($bg, $height, $color) {
    background-color: $bg;
    height: $height;
    border-radius: 80px;
    color: $color;
}

@mixin infographic($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
}

@mixin mt {
    margin-top: 80px;
}

@mixin adapt-header($height, $radius, $padding, $top) {
    height: $height;
    border-radius: $radius;
    padding: $padding;
    top: $top;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    background-color: $white;
}

.container {
    margin: 0 auto;
}

h1, h2, h3, h4, .header__list--number {
    font-family: 'Unbounded', cursive;
}

a {
    text-decoration: none;
    color: $black;
}

.title {
    font-size: 48px;
    line-height: 57.6px;
}

.text-upper {
    text-transform: uppercase;
}

.main, .advantages, .plan, .teacher, .results, .footer {
    overflow: auto;
    margin: 10px;
}

.header {
    @include adapt-header(70px, 30px, 0 40px, 20px);
    background: $white;
    position: fixed;
    width: inherit;
    z-index: 2;
    display: flex;

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $black;

        a {
            font-size: 18px;
        }
    }
}

.main {
    @include section-style(#2BD999, 900px, $white);

    &__info {
        display: flex;
        flex-direction: column;
        margin: 160px auto 0; 

        &__text {
            position: relative;
            padding-bottom: 115px;

            &__bg {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                opacity: 0.8;
                filter: blur(2.5px);
            }

            &--subtitle {
                font-size: 21px;
                text-align: center;
                line-height: 29.4px;
                position: relative;
                z-index: 1;
            }

            &--title {
                font-size: 96px;
                text-align: center;
                line-height: 115.2px;
                margin-top: 20px;
                position: relative;
                z-index: 1;
            }
        }

        &__details {
            display: flex;
            justify-content: space-between;

            &--text {
                font-size: 18px;
                width: 546px;
                line-height: 25.2px;
            }

            &__conditions {
                display: flex;
                width: 452px;
                justify-content: space-between;

                &__time, &__form {

                    &--head {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22.4px;
                    }
    
                    &--value {
                        font-family: 'Unbounded', cursive;
                        margin-top: 10px;
                    }
                }
    
                &__time {
    
                    &--value {
                        font-size: 32px;
                        line-height: 38.4px;
                    }
                }
    
                    &__form {
                        width: 264px;
    
                        &--value {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
            }
        }
            
            &--btn-scroll {
                margin: 56px auto 0;

                img {
                    width: 60px;
                    height: 60px;
                }
            }   
    }
}
.advantages {
    @include section-style(#B7AEF2, 855px, $black);
    display: flex;
    justify-content: center;

    &__info {
        @include mt;

        &--title {
            font-size: 48px;
            line-height: 57.6px;
        }

        &__infographics {
            display: flex;
            width: 1111px;
            justify-content: space-between;
            margin: 0 auto;

            &__item {
                position: relative;

                &--first {
                    top: 60px;
                }

                &--third {
                    bottom: 56px;
                }

                &--text, &__image-block {
                    background: $white;
                    border-radius: 50px;
                }
    
                &--text {
                    @include infographic(363px, 205px, 40px 30px);
                    text-align: center;
                    font-size: 18px;
                    line-height: 25.2px;
                    display: flex;
                    align-items: center;
                }
    
                &__image-block {
                    @include infographic(363px, 314px, 50px 31.5px);
                    position: relative;
                    bottom: 1px;
    
                    &--image {
                        width: 300px;
                        height: 215px;
                    }
                }
            }
        }

    }
}
.plan {
    @include section-style(#F2EEEB, 1166px, $black);

    &__title {
        @include mt;
        text-align: center;
    }

    &__table {
        margin: 40px auto 0;

        &__item {
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid $black;

            &__subject {

                &--desc {
                    margin-top: 10px;
                    font-size: 18px;
                    line-height: 25.2px;
                }

                &--name {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            &--module {
                font-size: 16px;
                line-height: 19.2px;
                min-width: 170px;
            }

            &--hours {
                font-size: 20px;
                text-align: end;
                line-height: 24px;
                min-width: 76px;
            }

            &__final-exam {
                border: none;
            }
        }
    }
}
.teacher {
    @include section-style(#F2B3D6, 610px, $black);

    &__info {
        display: flex;
        justify-content: space-between;

            &--photo {
                @include mt;
            }

            &__text {
                margin-top: 120px;
                width: 546px;
                
                &--post {
                    font-size: 20px;
                    line-height: 24px;
                }

                &--name {
                    margin-top: 20px;
                    font-size: 40px;
                    line-height: 48px;
                }

                &__list {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    line-height: 25.2px;

                    &--item {
                        padding-top: 20px;
                        display: flex;

                        &::before {
                            content: url('/images/arrow.svg');
                            padding-right: 15px;
                        }
                    }
                }
            }
    }
}
.results {
    @include section-style(#2BD999, 1201px, $white);
    height: inherit;

    &__title {
        @include mt;
        text-align: center;
    }

    // dropdown  

    .dropdown {
        display: none;
    }

    .color-title {
        color: $dark-green;
    }

    .sign-change {
        background: $dark-green;
        height: 4px;
    }

    &__dropdowns {
        color: $black;
        margin-top: 30px;   

        &__item {
            padding: 28px 40px;
            width: 1110px;
            background: $white;
            border-radius: 30px;
            margin-top: 10px;

            &__head {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &--sign {
                    background: linear-gradient(to bottom, transparent 38%, $black 38%, $black 62%, transparent 62%), linear-gradient(to right, transparent 38%, $black 38%, $black 62%, transparent 62%);
                    width: 20px;
                    height: 20px;
                }
            }

            &__list {
                display: flex;
                margin: 3px 0 12px;
                font-size: 18px;
                line-height: 25.2px;
                
                &__part {
                    width: 50%;

                    &--text {
                        display: flex;
                        align-items: flex-start;
                        padding-top: 25px;

                        &::before {
                            content: url('/images/marker.svg');
                            padding: 3.5px 14px 0 0;
                        }
                    }
                }
            }
        }
    }

    &__end {
        margin: 40px auto 80px;
        text-align: center;
        line-height: 29.4px;
        font-size: 21px;
        height: 145px;
        width: 734px;
    }
}
.footer {
    @include section-style(#F2EEEB, 284px, $black);

    &__organization {
        @include mt;
        text-align: center;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        &__item {
            display: block;
            text-align: center;

            &--head {
                font-size: 16px;
                line-height: 19.2px;
            }

            &--value {
                font-size: 18px;
                font-weight: 500;
                line-height: 25.2px;
                margin-top: 10px;
            }
        }
    }
}

/*--------------------------------media queries--------------------------------*/

@media only screen and (min-width : 1281px) {
    .container {
        width: 1110px;
    }
}

@media only screen and (min-width : 768px) {
    .plan__table__item__subject__mobile {
        display: none;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1280px) {
    .container {
        margin: 0 12px;
        max-width: 1280px;
    }

    .main, .advantages, .plan, .teacher, .results, .footer {
        border-radius: 30px;
    }

    .header {
        @include adapt-header(60px, 20px, 0 20px, 20px);
        width: calc(100% - 42px);
        &__list {

            &--link {
                display: none;
            }

            &--organization {
                font-size: 20px;
            }

            &--number {
                font-size: 16px;
            }
        }
    }

    /*main tablet*/

    .main {
        height: 829px;

        &__info {

            &__text {
                padding-bottom: 75px;

                &--subtitle {
                    font-size: 18px;
                    line-height: 25.2px;
                    padding-top: 40px;
                }
    
                &--title {
                    font-size: 62px;
                    line-height: 74.4px;
                }
            }

            &__details {
                justify-content: space-evenly;

                &--text {
                    font-size: 16px;
                    line-height: 22.4px;
                    width: 294px;
                }

                &__conditions {
                    flex-direction: column;
                    width: 232px;

                    &__time {

                        &--value {
                            font-size: 20px;
                        }
                    }

                    &__form {
                        width: auto;
                        &--value {
                            font-size: 16px;
                        }
                    }

                    &__time, &__form {

                        &--head {
                            font-size: 14px;
                            line-height: 19.6px;
                        }
                    }
                }
            }

            &--btn-scroll {
                margin: 54px auto 0;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

        }
    }
    
    /*advantages*/

    .advantages {
        height: 692px;

        &__info {
            margin-top: 60px;

            &--title {
                font-size: 40px;
                line-height: 48px;
            }

            &__infographics {
                width: 728px;

                &__item {

                    &--text {
                        font-size: 16px;
                        line-height: 22.4px;
                        padding: 30px 20px;
                        width: 238px;
                        height: 214px;
                    }

                    &__image-block {
                        padding: 30px 19px;
                        width: 238px;
                        height: 202px;

                        &--image {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &--second {
                        top: 20px;
                    }

                    &--third {
                        bottom: 54px;
                    }
                }
            }
        }
    }

    /*plan tablet*/

    .plan {
        height: 969px;

        &__title {
            font-size: 40px;
            line-height: 48px;
            margin-top: 60px;
        }

        &__table {
            
            &__item {
                padding: 20px 0;

                &--module {
                    font-size: 14px;
                    line-height: 19.6px;
                    min-width: 108px;
                }

                &__subject {

                    &--desc, &--name {
                        font-size: 16px;
                    }

                    &--name {
                        line-height: 19.2px;
                    }
    
                    &--desc {
                        line-height: 22.4px;
                        margin-top: 6px;
                    }
                }

                &--hours {
                    font-size: 16px;
                    line-height: 22.4px;
                }

            }
        }
    }

    /*teacher tablet*/

    .teacher {
        height: 437px;

        &__info {

            &--photo {
                margin: 61px auto 0;
                width: 280px;
                height: 315px;
            }

            &__text {
                margin-top: 60px;
                width: auto;
                padding-left: 30px;

                &--post {
                    line-height: 19.2px;
                    font-size: 16px;
                }

                &--name {
                    line-height: 38.4px;
                    font-size: 32px;
                    margin-top: 10px;
                }

                &__list {
                    line-height: 22.4px;
                    font-size: 16px;
                    margin-top: 20px;

                    &--item {
                        padding-top: 20px;  
                        &::before {
                            padding-right: 18.57px;
                        }
                    }
                }
            }
        }
}

    /*results tablet*/

    .results {

        &__title {
            line-height: 48px;
            font-size: 40px;
            margin-top: 60px;
        }
         &__dropdowns {
            margin-top: 32px;

            &__item {
                margin-top: 8px;
                padding: 23px 20px;
                border-radius: 20px;
                width: auto;

                &__head {

                    &--title {
                        line-height: 19.2px;
                        font-size: 16px;
                    }

                    &--sign {
                        width: 17.14px;
                        height: 17.14px;
                    }
                }

                &__list {
                    font-size: 16px;
                    line-height: 22.4px;
                    margin: 0;

                    &__part {
                        width: 50%;

                        &--text {
                            padding-top: 20px;
                            &::before {
                                padding-right: 13.71px;
                            }
                        }
                    }
                }
            }
         }

        &__end {
            line-height: 25.2px;
            font-size: 18px;
            margin: 40px auto 60px;
            width: 100%;
            height: auto;
        }
    }

    /*footer tablet*/

    .footer {
        height: 319px;

        &__organization {
            font-size: 20px;
            line-height: 24.8px;
            margin-top: 60px;
        }

        &__data {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .tel-address {
                width: 604px;
            }

            &__item {
                width: 33.3%;

                &--head {
                    font-size: 14px;
                    line-height: 16.8px;
                }

                &--value {
                    font-size: 16px;
                    line-height: 22.4px;
                    margin-top: 8px;
                }
            }
        }

        .footer-address {
            width: max-content;
            margin-top: 40px;
        }
    }
}

@media only screen and (min-width : 320px) and (max-width : 767px) {
    .container {
        margin: 0 12px;
        max-width: 767px;
    }

    .main, .advantages, .plan, .teacher, .results, .footer {
        border-radius: 20px;
    }

    .main, .advantages, .plan, .teacher, .results {
        margin: 0 0 4px;
    }

    .header {
        @include adapt-header(50px, 16px, 0 16px, 10px);
        width: calc(100% - 26px);

        &__list {

            &--link {
                display: none;
            }

            &--organization {
                font-size: 14px;
            }

            &--number, a {
                font-size: 12px;
            }
        }
    }

    /*main mobile*/

    .main {
        height: 588px;

        &__info {
            margin: 110px auto 0;

            &__text {
                padding-bottom: 36px;

                &--subtitle {
                    font-size: 14px;
                    line-height: 19.6px;
                    padding-top: 10px;
                }
    
                &--title {
                    font-size: 25px;
                    line-height: 30px;
                    margin-top: 10px;
                }
            }

            &__details {
                flex-direction: column;

                &--text {
                    font-size: 14px;
                    line-height: 19.6px;
                    width: 100%;
                }

                &__conditions {
                    flex-direction: row;
                    width: 100%;
                    margin-top: 20px;

                    &__time {

                        &--value {
                            font-size: 16px;
                            line-height: 19.2px;
                        }
                    }

                    &__form {
                        width: auto;

                        &--value {
                            font-size: 14px;
                            line-height: 16.8px;
                        }
                    }

                    &__time, &__form {

                        &--head {
                            font-size: 12px;
                            line-height: 16.8px;
                        }

                        &--value {
                            margin-top: 4px;
                        }
                    }
                }
            }

            &--btn-scroll {
                margin: 40px auto 0;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

        }
    }

    /*advantages mobile*/

    .advantages {
        height: 844px;

        &__info {
            margin-top: 40px;
            text-align: center;

            &--title {
                font-size: 28px;
                line-height: 33.6px;
            }
    
            &__infographics {
                flex-direction: column;
                width: auto;
                margin-top: 12px;

                &__item {
                    margin: 8px 0 0;
                    background-color: #ffffff;
                    border-radius: 30px;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
    
                    &--first, &--third {
                        position: static;
                    }
    
                    &__image-block {
                        position: static;
                        width: inherit;
                        padding: 16px 0 0;
                                
                        &--image {
                            width: 140px;
                            height: 100px;
                        }
                    }
    
                    &--text {
                        font-size: 14px;
                        line-height: 19.6px;
                        text-align: center;
                        width: auto;
                        height: auto;
                        padding: 8px 16px 16px;
                    }
    
                    &__image-block, &--text {
                        height: 50%;
                    }
    
                }
            }
        }
    }
    
    /*plan mobile*/

    .plan {
        height: 1216px;

        &__title {
            font-size: 28px;
            line-height: 33.6px;
            margin-top: 40px;
        }

        &__table {
            margin: 21.5px auto 0;

            &__item {
                padding: 16px 0;

                &--module {
                    line-height: 16.8px;
                    font-size: 12px;
                }

                &--hours {
                    line-height: 19.6px;
                    font-size: 14px;
                }

                &__subject {

                    &--name, &--desc {
                        line-height: 19.6px;
                        font-size: 14px;
                        margin-top: 6px;
                    }

                    &--name {
                        margin-top: 9.5px;
                    }

                    &__mobile {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                    }
                }
            }

            .module, .hours, .name {
                display: none;
            }
        }
    }

    /*teacher mobile*/

    .teacher {
        height: 645px;

        &__info {
            flex-direction: column;

            &--photo {
                margin: 40px auto 0;
                width: 220px;
                height: 248px;
            }

            &__text {
                margin-top: 20px;
                width: auto;

                &--post {
                    line-height: 19.6px;
                    font-size: 14px;
                }

                &--name {
                    line-height: 33.6px;
                    font-size: 24px;
                    margin-top: 5px;
                }

                &__list {
                    line-height: 19.6px;
                    font-size: 14px;
                    margin-top: 8px;

                    &--item {
                        padding-top: 12px;  
                        &::before {
                            padding-right: 10.4px;
                        }
                    }
                }

            }
        }

    }

    /*results mobile*/

    .results {

        &__title {
            line-height: 33.6px;
            font-size: 28px;
            margin-top: 40px;
        }

        &__dropdowns {
            margin-top: 12px;

            &__item {
                margin-top: 8px;
                padding: 20px 16px;
                border-radius: 16px;
                width: auto;

                &__head {

                    &--title {
                        line-height: 19.6px;
                        font-size: 14px;
                    }

                    &--sign {
                        width: 14.29px;
                        height: 14.29px;
                    }
                }

                &__list {
                    font-size: 14px;
                    line-height: 19.6px;
                    margin: 0;
                    flex-direction: column;

                    &__part {
                        width: 100%;

                        &--text {
                            padding-top: 20px;
                            &::before {
                                padding-right: 9.43px;
                            }
                        }
                    }
                }
            }
        }

        &__end {
            line-height: 19.6px;
            font-size: 14px;
            margin: 20px auto 40px;
            width: 100%;
            height: auto;
        }
    }

    /*footer mobile*/

    .footer {
        height: 325px;

        &__organization {
            font-size: 20px;
            line-height: 24.8px;
            margin-top: 40px;
        }

        &__data {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__item {
                width: 50%;

                &--head {
                    font-size: 14px;
                    line-height: 19.6px;
                }

                &--value {
                    font-size: 16px;
                    line-height: 22.4px;
                    margin-top: 4px;
                }
            }

            .footer-tel {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}