$white: #fff;
$black: #262626;
$dark-green: #238C6E;

@mixin section-style($bg, $height, $color) {
    background-color: $bg;
    height: $height;
    border-radius: 80px;
    color: $color;
}

@mixin infographic($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
}

@mixin mt {
    margin-top: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    background-color: $white;
}

.container {
    margin: 0 auto;
}

h1, h2, h3, h4, .header__list--number {
    font-family: 'Unbounded', cursive;
}

a {
    text-decoration: none;
    color: $black;
}

.title {
    font-size: 48px;
    line-height: 57.6px;
}

.text-upper {
    text-transform: uppercase;
}

.main, .advantages, .plan, .teacher, .results, .footer {
    overflow: auto;
    margin: 10px;
}

.header {
    height: 70px;
    background: $white;
    border-radius: 30px;
    padding: 0 40px;
    position: fixed;
    top: 20px;
    width: inherit;
    z-index: 2;
    display: flex;

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: $black;

        a {
            font-size: 18px;
        }
    }
}

.main {
    @include section-style(#2BD999, 900px, $white);
    position: relative;

    &__bg {
        position: absolute;
        top: 150px;
        left: calc(50% - (766px/2));
        width: 766px;
        height: 510px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 160px auto 0; 
        z-index: 1;
        position: relative;

        &__details {
            display: flex;
            justify-content: space-between;
            margin-top: 106px;

            &--text {
                font-size: 18px;
                width: 546px;
                line-height: 25.2px;
            }

            &__time, &__form {

                &--head {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22.4px;
                }

                &--value {
                    font-family: 'Unbounded', cursive;
                    margin-top: 10px;
                }
            }

            &__time {

                &--value {
                    font-size: 32px;
                    line-height: 38.4px;
                }
            }

                &__form {
                    width: 264px;

                    &--value {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }

            &--subtitle {
                font-size: 21px;
                text-align: center;
                line-height: 29.4px;
            }

            &--title {
                font-size: 96px;
                text-align: center;
                line-height: 115.2px;
                margin-top: 20px;
            }
            
            &--btn-scroll {
                margin: 56px auto 0;
                width: 60px;
                height: 60px;
            }   
    }
}
.advantages {
    @include section-style(#B7AEF2, 855px, $black);
    display: flex;
    justify-content: center;

    &__info {
        @include mt;

        &--title {
            font-size: 48px;
            line-height: 57.6px;
        }

        &__infographics {
            display: flex;
            width: 1111px;
            justify-content: space-between;
            margin: 0 auto;

            &__item {
                position: relative;

                &--first {
                    top: 60px;
                }

                &--third {
                    bottom: 56px;
                }

                &--text, &__image-block {
                    background: $white;
                    border-radius: 50px;
                }
    
                &--text {
                    @include infographic(363px, 205px, 40px 30px);
                    text-align: center;
                    font-size: 18px;
                    line-height: 25.2px;
                    display: flex;
                    align-items: center;
                }
    
                &__image-block {
                    @include infographic(363px, 314px, 50px 31.5px);
                    position: relative;
                    bottom: 1px;
    
                    &--image {
                        width: 300px;
                        height: 215px;
                    }
                }
            }
        }

    }
}
.plan {
    @include section-style(#F2EEEB, 1166px, $black);

    &__title {
        @include mt;
        text-align: center;
    }

    &__table {
        margin: 40px auto 0;

        &__item {
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid $black;

            &__subject {
                padding: 0 18px;

                &--desc {
                    margin-top: 10px;
                    font-size: 18px;
                    line-height: 25.2px;
                }

                &--name {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            &--module {
                font-size: 16px;
                line-height: 19.2px;
                min-width: 170px;
            }

            &--hours {
                font-size: 20px;
                text-align: end;
                line-height: 24px;
                min-width: 76px;
            }

            &__final-exam {
                border: none;
            }
        }
    }
}
.teacher {
    @include section-style(#F2B3D6, 610px, $black);

    &__info {
        display: flex;
        justify-content: space-between;

            &--photo {
                @include mt;
            }

            &__text {
                margin-top: 120px;
                width: 546px;
                
                &--post {
                    font-size: 20px;
                    line-height: 24px;
                }

                &--name {
                    margin-top: 20px;
                    font-size: 40px;
                    line-height: 48px;
                }

                &__list {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    line-height: 25.2px;

                    &--item {
                        padding-top: 20px;

                        &::before {
                            content: url(images/arrow.svg);
                            padding-right: 15px;
                        }
                    }
                }
            }
    }
}
.results {
    @include section-style(#2BD999, 1201px, $white);

    &__title {
        @include mt;
        text-align: center;
    }

    .dropdown {
        display: none;
    }

    .color {
        color: $dark-green;
    }

    &__dropdowns {
        color: $black;
        margin-top: 30px;   

        &__item {
            padding: 28px 40px;
            width: 1110px;
            background: $white;
            border-radius: 30px;
            margin-top: 10px;

            &__head {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__list {
                display: flex;
                margin: 3px 0 12px;
                font-size: 18px;
                line-height: 25.2px;
                
                &__part {
                    width: 50%;

                    &--text {
                        display: flex;
                        align-items: flex-start;
                        padding-top: 25px;

                        &::before {
                            content: url(images/marker.svg);
                            padding: 3.5px 14px 0 0;
                        }
                    }
                }
            }
        }
    }
}
.footer {
    @include section-style(#F2EEEB, 284px, $black);

    &__organization {
        @include mt;
        text-align: center;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        &__item {
            display: block;
            text-align: center;

            &--head {
                font-size: 16px;
                line-height: 19.2px;
            }

            &--value {
                font-size: 18px;
                font-weight: 500;
                line-height: 25.2px;
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (min-width : 1280px) {
    .container {
        width: 1110px;
    }
}